{% extends 'base.html' %} {% block title %} Book Details {%endblock%} 
{% block nav %}
<div class="nav">
<h1 class="book-head">{{book.title}}</h1>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="left-container">
        <div>
            <h2 class="title">{{book.title}}</h2> 
        </div>
        <div class="heads">
            <h3 class="author">
            {{book.author}}
            <h3>  
        </div>
        <div class="images">
            <img src="{{book.image.url}}" class="detail-img" alt="book cover" width="200"/>
        </div>
        <div>
            <p id="published"><span>Published:</span> {{book.published_on}}</p>
            <p id="pages"><span>Pages:</span> {{book.page_count}}</p>
            <p id="language"><span>Language:</span> {{book.original_language}}</p>
        </div>
    </div>
    <div class="right-container">
        <div class="des">
            <p class="desc">{{book.about|safe}}</p>
        </div>

        <div class="three-ps">
        {% if user.is_authenticated %}
            <div class="form">
                <form method="POST" action="{% url 'book-review' book.id %}">
                    {% csrf_token%}
                    <textarea name="review" id="review-box" placeholder="Write your review  here" required></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        {% else %}
                <p>
                <a href="{% url 'login' %}?next={{request.path}}">Login</a> to write review 
                </p>
        {% endif %}
        </div>
        <div class="review">
            <ul>
                {% for review in book.review_set.all %}
                <li>
                    <p>{{review.user}}</p>
                    <p>{{review.created_at}}</p>
                    <p id="reviews">Reviews: {{review.body}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}