<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book sale</title>
</head>

<body>

    {% for book in data %}
    <p>Book Author: {{book.author}}</p>
    <p>Country: {{book.country}}</p>
    <p> Book Title: {{book.title}}</p>
    <p>Year of Release: {{book.year}}</p>
    <img src="{{book.imageLink}}" alt="" width="100" /> {% endfor %}




</body>

</html>